:root {
    --titlecolor: rgb(39, 51, 39);
    --textcolor: rgba(36, 49, 68, 0.863);
    --linkcolor: rgb(106, 80, 141);
    --linkhovercolor: rgb(101, 165, 190);
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/bg/bg_text2.png");
    background-repeat: repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.about>* {
    margin: 2em;
}

.textbox {
    margin-top: 25vh;
    width: 55%;
}

h2 {
    font-family: 'Gaegu', cursive;
    font-size: 4em;
    text-transform: uppercase;
    color: var(--titlecolor);
}

p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--textcolor);
}

.linkbox {
    display: flex;
}


/* link styling */

a {
    text-decoration: none;
    font-family: 'Gaegu', 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 2em;
    letter-spacing: 0.3em;
    color: var(--linkcolor);
    font-size: 1.2em;
}

a:hover {
    text-decoration: none;
    color: var(--linkhovercolor);
}

a:visited {
    text-decoration: none;
}


/* nav styling */

nav {
    display: flex;
}


/* table styling */

.ref {
    margin: 3em 0;
}

table,
td,
th {
    border: 1px solid rgb(24, 24, 48);
    padding: 0.25em;
}

table {
    margin-top: 3em;
    width: 80%;
    border-collapse: collapse;
}

img {
    width: 150px;
}


/* rubric styling */

a.inlinelink {
    letter-spacing: 0;
    margin: 0;
}

.textbox .rubric {
    text-align: left;
}


/* 
  __               _ _                _    
 / _| ___  ___  __| | |__   __ _  ___| | __
| |_ / _ \/ _ \/ _` | '_ \ / _` |/ __| |/ /
|  _|  __/  __/ (_| | |_) | (_| | (__|   <____.
|_|  \___|\___|\__,_|_.__/ \__,_|\___|_|\_____|
*/

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
}

form {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: var(--textcolor);
    display: grid;
}

form>* {
    margin-top: 0.5em;
}

label {
    grid-column: 1/2;
    text-align: right;
    margin-right: 0.3em;
}

input,
textarea {
    grid-column: 2/6;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.726);
}

textarea {
    font-size: 0.9em;
}

button.feedback,
.options {
    grid-column: 2/6;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.726);
    text-align: center;
}

button.feedback:hover {
    background-color: var(--linkhovercolor);
}

.options {
    display: flex;
    flex-direction: row;
}